In [1]:
#!pip install pandas_profiling 
#!pip install ipywidgets
#!pip install --upgrade pandas_profiling 
#!pip install --upgrade ipywidgets
#!pip install --upgrade pandas_visual_analysis
# plotly.py renderer support
#jupyter labextension install jupyterlab-plotly

# Jupyter widgets extension for plotly.py
#jupyter labextension install @jupyter-widgets/jupyterlab-manager plotlywidget

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from pandas_visual_analysis import VisualAnalysis, DataSource
from pandas_profiling import ProfileReport
import ipywidgets 
ipywidgets.__version__

C:\Users\kmmoh\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

'7.6.5'

In [37]:
df=pd.read_csv(r'C:\\Users\kmmoh\Downloads\timeseries.csv')

In [15]:
df.shape

(26, 3)

In [16]:

profile = ProfileReport(df, title='Pandas Profiling Report', explorative=True)

In [17]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/16 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [ ]:
# In the above dataset columns name are there , and category type misplet words [Emailopen,customer] are there

In [38]:
df.columns=['Userid','Data','Activity']

In [39]:
df.head(3)

            Userid        Data         Activity
0  0000ecf58c94668  2014-07-01        EmailOpen
1  0000ecf58c94668  2014-07-03         Purchase
2  0000ecf58c94668  2014-07-04  Customersupport

In [40]:
df[df['Activity'] =='Emailopen']

             Userid        Data   Activity
11  00012205dd4613b  2013-10-02  Emailopen
12  00012205dd4613b  2013-10-30  Emailopen

In [42]:
df[df['Activity'] =='customersupport']

             Userid        Data         Activity
17  00022618457fcf2  2013-08-02  customersupport
19  000256826de4432  2014-10-07  customersupport